{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMAGE GENRATOR</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'image_generator/css/main.css' %}">

</head>
<body>
    <div class="container">

        <div class="registration-form text-center">
        <h2 class="my-4 py-5 display-3">Ajouter une image</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
              <input type="file" name="image" accept="image/png, image/jpeg, image/jpg, image/svg" required="required">
              <br>
              <button class="btn btn-primary my-4 btn-lg" type="submit">Soumettre Image</button>
        </form>

        {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            {{ error_msg }}
          </div>
        {% endif %}
        <div class="row">
          {% if file_url_circle %}
          <div class="col-6 pb-4">
            
            <img src="{{ file_url_circle }}" class="img-fluid w-50">
            <p class="display-4 my-3">Nombre de cercles detectés : {{ nb_circle }}</p>
            <br>
           
        </div>
          {% endif %}
          {% if file_url_square %}
          <div class="col-6 pb-4">
            
            <img src="{{ file_url_square }}" class="img-fluid w-50">
            <p class="display-4 my-3">Nombre de carrés detectés : {{ nb_square }} </p>
            <br>
           
          {% endif %}
        
    </div>
  
      </div>
      {% if file_url_square or file_url %}
      <a class="btn btn-lg my-4 display-5 btn-info" href="/">Recommencer</a>
      {% endif %}
</body>
</html>
